<script>
  document.addEventListener("DOMContentLoaded", function() {
    const textElement = document.getElementById('typewriter-text');
    const cursorElement = document.querySelector('.cursor');

    // Mengambil teks dari konfigurasi situs
    const textToType = "{{ site.description | escape }}";
    const typingSpeed = 150; // Kecepatan mengetik (ms)
    const erasingSpeed = 100; // Kecepatan menghapus (ms)
    const delayAfterTyping = 3000; // Jeda setelah selesai mengetik (ms)

    let charIndex = 0;

    function type() {
      if (charIndex < textToType.length) {
        cursorElement.classList.add('typing');
        textElement.textContent += textToType.charAt(charIndex);
        charIndex++;
        setTimeout(type, typingSpeed);
      } else {
        cursorElement.classList.remove('typing');
        setTimeout(erase, delayAfterTyping);
      }
    }

    function erase() {
      if (charIndex > 0) {
        cursorElement.classList.add('typing');
        textElement.textContent = textToType.substring(0, charIndex - 1);
        charIndex--;
        setTimeout(erase, erasingSpeed);
      } else {
        cursorElement.classList.remove('typing');
        setTimeout(type, typingSpeed + 1100);
      }
    }

    // Pastikan elemen ada sebelum menjalankan animasi
    if (textElement) {
      type(); // Mulai animasi
    }
  });
</script>