html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}
.markdown-body {
  font-family: 'Merriweather', serif;
  line-height: 1.8; /* Meningkatkan jarak antar baris untuk keterbacaan */
  font-size: 1.15em; /* Ukuran font sedikit lebih besar */
  color: #333; /* Warna teks yang lebih lembut untuk mode terang */
  letter-spacing: 0.5px;/* Menambahkan sedikit spasi antar huruf */
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
