// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#dummy {
  padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/* Typewriter Cursor */
.cursor {
  display: inline-block;
  width: 3px;
  background-color: #ccc; /* Warna kursor */
  animation: blink 1s infinite;
}

/* Hentikan kedipan saat sedang mengetik */
.cursor.typing {
  animation: none;
}

/* Animasi kedipan */
@keyframes blink {
  0% { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100% { background-color: #ccc; }
}