/* Pengaturan Tema Terang (Light Mode) */
[data-theme="light"] {
  body {
    background: linear-gradient(to left, #c3e4ff, #eff9ff) !important;
    color: #343a40 !important; /* Paksa teks menjadi hitam */
  }

  .text-themed, .markdown-body, h1, h2, h3, h4, h5, h6, p, a {
    color: #343a40 !important; /* Paksa semua elemen teks menjadi hitam */
  }

  .navbar-themed .navbar-brand,
  .navbar-themed .navbar-nav .nav-link {
    color: #343a40 !important; /* Paksa teks navbar menjadi hitam */
  }
}

/* Pengaturan Tema Gelap (Dark Mode) */
[data-theme="dark"] {
  body {
    background-color: #17191a !important;
    color: rgba(255, 255, 255, 0.9) !important; /* Paksa teks menjadi putih */
  }

  .text-themed, .markdown-body, h1, h2, h3, h4, h5, h6, p, a {
    color: rgba(255, 255, 255, 0.9) !important; /* Paksa semua elemen teks menjadi putih */
  }
  
  .navbar-themed .navbar-brand,
  .navbar-themed .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9) !important; /* Paksa teks navbar menjadi putih */
  }
}

/* Tombol Ganti Tema */
#theme-toggler:before {
  content: "🌙";
}
[data-theme="dark"] #theme-toggler:before {
  content: "🌞";
}
