<div id="certificationsCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators">
    {% for cert in site.data.certifications %}
      <li data-target="#certificationsCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for cert in site.data.certifications %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="certification-text text-center mb-3">
        <h5>{{ cert.title }}</h5>
        <p>{{ cert.description }}</p>
        </div>
        <img src="{{ cert.image | relative_url }}" class="d-block w-100" alt="{{ cert.title }}">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#certificationsCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#certificationsCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>